<html><head><meta charset="utf-8" />
<meta charset="utf-8" />
    <link rel=icon type=image/png href="{{ url_for('static', filename='img/favicon.ico') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Most Loved And Hated Language visualization!</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


    <!-- Animation library for notifications   -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/animate.min.css') }}">

    <!--  Light Bootstrap Table core CSS    -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}">

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/demo.css') }}">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/icono.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-all.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head><body>


<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="static/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Visualization of IDE Interactions
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="icono-barChart"></i>
                        <p>Home Page</p>
                    </a>
                </li>
                <li>
                    <a href="tree">
                        <i class="pe-7s-graph1"></i>
                        <p>Usage of IDE Commands</p>
                    </a>
                </li>
                <li>
                    <a href="rb">
                        <i class="fas fa-chart-line"></i>
                        <p>Does Refactoring impact Test and Build Failures</p>
                    </a>
                </li>
                <li>
                    <a href="cluster">
                        <i class="pe-7s-note2"></i>
                        <p>Data set and Processing</p>
                    </a>
                </li>
                <li class="active">
                    <a href="spidy">
                        <i class="icono-pieChart"></i>
                        <p>Spider Web</p>
                    </a>
                </li>
                <li>
                    <a href="map">
                        <i class="fas fa-globe"></i>
                        <p>World Map</p>
                    </a>
                </li>
                <li>
                    <a href="network">
                        <i class="pe-7s-network"></i>
                        <p>Network Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="cluster">
                        <i class="fas fa-globe"></i>
                        <p>3D Clustering</p>
                    </a>
                </li>
                <li>
                    <a href="quiz">
                        <i class="pe-7s-science"></i>
                        <p>Quiz</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>


    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Spider Web Visualization</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="pe-7s-home"></i>
								<p class="hidden-lg hidden-md">Visualization</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>About</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h3>{{ desc }}</h3>
                            </div>
                                <div class="content">
                                    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Language Popularity among Developers & Learners</h4>
                                <p class="category">From survey of the the developer who learned and didnot learn a language.</p>
                            </div>
                            <div class="content">
                                <img src="{{ url_for('static', filename='LoveLang.svg') }}"/>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Language Obscurity among Developers & Learners</h4>
                                <p class="category">From survey of the the developer who learned and didn't learn a language.</p>
                            </div>
                            <div class="content">
                                <img src="{{ url_for('static', filename='hateLang.svg') }}"/>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Sakib Hasan
                                        <i class="fa fa-circle text-danger"></i> Zaki Mujahid
                                        <i class="fa fa-circle text-warning"></i> Tanjid tonmoy
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>  Software Engineering , Project by- <a href="https://github.com/sakib2263">Sakib</a>,
                    <a href="https://github.com/thTonmoy">Tonmoy</a>
                    ,Zaki
                </p>
            </div>
        </footer>
    </div>
</div>
</body></html>