<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collapsible tree in reusable format using D3 v4</title>
    <script src="https://d3js.org/d3.v4.js"></script>
{#    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>#}
 <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/tree-chart.css') }}">
    <script src="{{ url_for('static', filename='js/tree-chart.js') }}"></script>

	<link rel="icon" type="image/png" href="static/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="static/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="static/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo.css" rel="stylesheet" />
    <!--Collapsible tree-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/tree-chart.css') }}">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>


<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="static/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.github.com/sakib2263" class="simple-text">
                    Visualization of IDE Interactions
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Home Page</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Data set and Processing</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Visualization 1</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Visualization 2</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-graph"></i>
                        <p>Visualization 3</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-graph"></i>
                        <p>Visualization 4</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-graph"></i>
                        <p>This is not Rocket Science!</p>
                    </a>
                </li>
                <li class="active">
                    <a href="tree">
                        <i class="pe-7s-graph"></i>
                        <p>Visualize Command Usage(Collapsible Tree)</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Collapsing Tree</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Collapsing Tree</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


<div id="chart"></div>
<script>

    var myTree = tree().height(800).width(960);

	d3.text("{{ url_for('static', filename='test_comm.csv') }}", function(error, text) {
		if (error) throw error;
		var table = [{
			name: 'Triggered',
            parent: null
        }];
		var methods = [];
		var commands = [];
		d3.csvParseRows(text, function (d, i) {
			if (d[0].startsWith('trigger')) return;

			if (!commands.find(function(element){ return element === d[1]; })) {
				table.push({
					name: d[1],
					parent: d[0]
				});
				commands.push(d[1]);
			}

			if (!methods.find(function(element){ return element === d[0]; })) {
				table.push({
					name: d[0],
					parent: "Triggered"
				});
				methods.push(d[0]);
			}
		});

		var root = d3.stratify()
            .id(function(d) { return d.name; })
            .parentId(function (d) { return d.parent; })
            (table);

		myTree.data(root);

		d3.select('#chart')
			.call(myTree);
    });

</script>

    <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>  Software Engineering , Project by- <a href="https://github.com/sakib2263">Sakib</a>,
                    <a href="https://github.com/thTonmoy">Tonmoy</a>
                    ,Zaki
                </p>
            </div>
        </footer>
        </div>
    </div>

</body>
</html>